{% extends 'peterplysside/home.html' %}
{% block buttons %}
<button id="SuperB" data-toggle="modal" data-target="#Points">se andre points</button>
<div class="modal" tabindex="-1" id="Points">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Folks Point</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table border="1">
                {% for i in people %}
                <ul>Navn: {{i.navn}} <br>Points: {{i.point}}</ul>
                {% endfor %}
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}